# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
part2/.venv/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store

# =========================
# Node (if ever used)
# =========================
node_modules/
