node_modules/
npm-debug.log*
*.log
.DS_Store
part2/.venv/
__pycache__/
*.pyc
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
part2/.venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
part2/.venv/
